doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title= "title"
		link(
			rel="stylesheet",
			href="css/style.min.css"
		)
		script(src='js/libs.min.js')
		script(src='js/main.js')
	body
		#cnt
			.page-content
				.page-nav
					.new-container
						.tabs
							a.tab(href="#") Обучение
							a.tab(href="#") Индивидуальное обучение
							a.tab.active(href="#") Мастер-класс

				section.promo
					.new-container
						.datatime
							.city.wow.animate__animated.animate__fadeInDown 19 февраля,
								span.time 10:00
							.city.wow.animate__animated.animate__fadeInDown Москва

						.invite.wow.animate__animated.animate__fadeInDown Приглашаем на мастер-класс

						.theme.wow.animate__animated.animate__fadeInUp
							.row Изготовление съемных
							.row Конструкций из полиамида
							.row На примере материала Perflex Biosense

						.toNextBlock.wow.animate__animated.animate__bounce.animate__slow

				.new-container
					section.program
						.title Программа курса

						.program-lists
							ul.program-list
								li.program-item.wow.animate__animated.animate__fadeInLeft(data-wow-delay="0.5s") Выбор инструментов для обработки и полировки
								li.program-item.wow.animate__animated.animate__fadeInLeft(data-wow-delay="0.3s") Особенности изготовления съемных конструкций из полиамида на примере термопластичных материалов
								li.program-item.wow.animate__animated.animate__fadeInLeft(data-wow-delay="0.6s") Точный расчет необходимого количества материалов
								span.border.wow.animate__animated.animate__fadeInUp
							ul.program-list
								li.program-item.wow.animate__animated.animate__fadeInLeft(data-wow-delay="0.5s") Виды и возможности перебазировки
								li.program-item.wow.animate__animated.animate__fadeInLeft(data-wow-delay="0.3s") Разбор ошибок при изготовлении конструкций из термопластичных материалов 
								li.program-item.wow.animate__animated.animate__fadeInLeft(data-wow-delay="0.6s") Починки и поломки. Границы протеза
								span.border.wow.animate__animated.animate__fadeInUp

					section.profit
						h2.title Посетив мастер-класс<br>вы получаете

						ul.profit-list
							li.profit-item.profit-item--actual
								span.profit-icon.button.hvr-pulse-grow
								span.profit-item-title Актуальные знания<br>по вопросам<br>протезирования

							li.profit-item.profit-item--consult
								span.profit-icon.button.hvr-pulse-grow
								span.profit-item-title Консультацию<br>и ответы на<br>вопросы

							li.profit-item.profit-item--present
								span.profit-icon.button.hvr-pulse-grow
								span.profit-item-title Материал<br>Perflex в<br>подарок

							li.profit-item.profit-item--certificate
								span.profit-icon.button.hvr-pulse-grow
								span.profit-item-title Именной<br>сертификат

							li.profit-item.profit-item--repair-skill
								span.profit-icon.button.hvr-pulse-grow
								span.profit-item-title Навыки починки<br>зубных протезов

							li.profit-item.profit-item--model
								span.profit-icon.button.hvr-pulse-grow
								span.profit-item-title Готовую модель<br>зубного протеза

				section.sign-up
					// h2.title Записаться на мастер-класс

					section.information
						.teacher
							.present-text Мастер-класс проводит
							.name Александрова<br>Жанна Олеговна

							ul.grades
								li.grade Эксперт по <br>термопластичным <br>материалам
								li.grade Сертифицированный <br>консультант компании <br>ООО «Перфлекс Рус»
								li.grade Действующий зубной техник <br>со стажем работы и опытом <br>обучения более 27 лет

						.prices.mob-hidden
							.rates-title Стоимость участия

							ul.rates
								li.rate
									span.cost 5000 р
									span.description Для слушателей
								li.rate
									span.cost 8000 р
									span.description Для практиков
								li.rate
									span.cost 10000 р
									span.description Для организаций

					div.gallery-form-wrapper
						section.gallery
							h2.title Прошедшие мастер-классы

							.swiper-box
								.swiper.mySwiper
									.swiper-wrapper
										a.swiper-slide(data-fancybox
											data-caption='Москва, 25.09.2019'
											href="img/master-class/moscow_25.09.2019.jpg")
											img(src="img/master-class/moscow_25.09.2019.jpg")
											span.subtitle Москва, 25.09.2019
										a.swiper-slide(data-fancybox
											data-caption='Москва, 24.04.2019'
											href="img/master-class/moscow_24.04.2019.jpg")
											img(src="img/master-class/moscow_24.04.2019.jpg")
											span.subtitle Москва, 24.04.2019
										a.swiper-slide(data-fancybox
											data-caption='Новосибирск, 06.09.2019'
											href="img/master-class/novosibirsk_06.09.2019.jpg")
											img(src="img/master-class/novosibirsk_06.09.2019.jpg")
											span.subtitle Новосибирск, 06.09.2019
										a.swiper-slide(data-fancybox
											data-caption='Самара, 30.03.2019'
											href="img/master-class/samara_30.03.2019.jpg")
											img(src="img/master-class/samara_30.03.2019.jpg")
											span.subtitle Самара, 30.03.2019
								.controls
									.swiper-button-prev
									.swiper-button-next
								.swiper-pagination

						section.prices.mob-show
							.rates-title Стоимость участия

							ul.rates
								li.rate
									span.cost 5000 р
									span.description Для слушателей
								li.rate
									span.cost 8000 р
									span.description Для практиков
								li.rate
									span.cost 10000 р
									span.description Для организаций

						section.form#inviteForm
							.new-container
								form.sign-up-form(
									method="POST"
									action="#"
									)
									.form-offer Записаться на мастер-класс
									.form-title Количество участников <br>ограничено!
									.input(
										type="hidden"
										name="study-type"
									)
									.fields
										.field-box
											input.field(
												type="text"
												placeholder="Ваше имя *"
												data-placeholder="Ваше имя *"
											)
										.field-box
											input.field#js-phone-field(
												type="text"
												placeholder="Ваш номер телефона *"
												data-placeholder="Ваш номер телефона *"
											)
										.field-box
											input.field(
												type="text"
												placeholder="Введите символы с картинки *"
												data-placeholder="Введите символы с картинки *"
											)

										.submit-box
											input.submit(
												type="submit"
												value="Записаться"
											)
									.address
										span м. Милашенкова, м. Фонвизинская
										span Огородный проезд, 20, стр. 4, ЗТЛ &laquo;Синергия&raquo;
										span.phone телефон: 8 (495) 780-60-80